@{
    Layout = "";
}
@{

    object langArgs = new
    {
        activeLang = ""
    };

    IRequestCultureFeature ?requestCulture = Context.Features.Get<IRequestCultureFeature>();
    if (requestCulture != null)
    {
        langArgs = new
        {
            activeLang = requestCulture.RequestCulture.UICulture.IetfLanguageTag
            //responseCookies = Context.Response.Cookies
        };
    }
    
}

<header>
    <nav class="aspnetmenu navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-page="/Index">ReactInRazor: Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                @{await Html.RenderPartialAsync("_MenuItems"); }
            </div>
        </div>
        @{
#if USE_LOCALIZATION
        }
        @{await Html.RenderPartialAsync("_LanguageSwitch"); }
        @{
#endif
        }
    </nav>
</header>
